body{
    padding: 0px 10px 10px 10px;
    margin: 5px 20px 20px 20px;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1,h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
h2{
    color: rgb(88, 173, 173);
    text-decoration: underline;
    text-transform: uppercase;
}
h1{
    color: blue;
    text-transform: uppercase;
    text-shadow: 0 0 10px red;
    text-align: center;
}
ul li{
    text-transform: capitalize;
    color: brown;
    font-style: italic;
    font-size: larger;
    padding: 10px;
}
ol li{
    padding: 5px;
}
tr,td,th{
    border: 2px solid brown;text-align: center;
    padding: 5px;
}
div{
    background-color: aliceblue;
    width: 600px;
    height: 200px;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
div p{
    padding-left: 10px;
}
.types img:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.measurements{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.measurements div{
    padding: 10px;
    margin: 20px;
    border: 2px groove red;
}
.measurements .dimension{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.headings:hover{
    color:royalblue;
}
.selectors{
    display: inline-block;
    border: 2px solid red;
    width: 100%;
    height: 100%;
}
.selector-type{
    border: 2px solid blue;
    font-size: 1em;
    width: 80%;
    height: auto;
}
.selector-type .heading{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    padding:5px;
}
.selector-type ol li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-weight:700;
}
.para1{
    color: blue;
    background-color: bisque;
    height: 100px;
}
#para2{
    color: brown;
    background-color:bisque;
    height: 120px;
}
.para3{
    background-color:bisque;
    height: 120px;
}
.para3 h3, .para3 h4{
    color: blueviolet;
    font-weight: 500;
    font-size: 20px;
}
.combinator{
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.combinator>p{
    color: blue;
}
.combinator p{
    text-decoration: underline;
}
.combinator~p{
    font-style: italic;
}
.selector-type a{
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* unvisited link */
.selector-type a:link {
    color: red;
  }
  
  /* visited link */
.selector-type a:visited {
    color: greenyellow;
  }
  
  /* mouse over link */
.selector-type a:hover {
    color: gold;
  }
  
  /* selected link */
.selector-type a:active {
    color: blue;
  }
